@import url(./basic-styles.css);

/* lesson styles */

.container {
  height: 500px;
  border: 10px solid;

  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  /* justify-items: center;
  align-items: center; */
  /* justify-content: space-evenly;
  align-content: space-evenly; */
}

.item4 {
  justify-self: stretch;
  align-items: stretch;
}

/* justify-items */

/* align-items */

/* justify-content */

/* align-content */

/* justify-self */

/* align-self */
